<form class="ui stacked segment form" action="/dashboard/addStation" method="POST">

    <div class="two fields">
        <div class="field">
            <label>Name</label>
            <input placeholder="Name" type="text" name="name">
        </div>
        <div class="field">
            <label>Latitude</label>
            <input placeholder="00.00" type="text" name="latitude">
        </div>
        <div class="field">
            <label>Longitude</label>
            <input placeholder="00.00" type="text" name="longitude">
        </div>
        <button class="ui blue submit button">Add Station</button>
    </div>
</form>