<form class="ui stacked segment form" action="/admin/editUser" method="GET">

  <div class="two fields">
    <div class="field">
      <label>FirstName</label>
      <input placeholder="FName" type="text" name="firstname">
    </div>
    <div class="field">
      <label>LastName</label>
      <input placeholder="LName" type="text" name="lastname">
    </div>
    <div class="field">
      <label>Email</label>
      <input placeholder="email" type="text" name="email">
    </div>
    <div class="field">
      <label>Password</label>
      <input placeholder="password" type="text" name="password">
    </div>
    <a href="/admin/editUser" class="ui tiny red button">Edit User Details </a>
  </div>
</form>