#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"admin"/}

<section class="ui segment">
    <h2 class="ui header">
        All Known Readings in the Database:
    </h2>
    <table class="ui fixed table">
        <thead>
        <tr>
            <th>Date/Time</th>
            <th>Code</th>
            <th>Temp</th>
            <th>Wind Speed</th>
            <th>Wind Direction</th>
            <th>Pressure</th>
        </tr>
        </thead>
        <tbody>
        #{list items:readings, as:'reading'}
        <tr>
            <td>
                ${reading.date}
            </td>
            <td>
                ${reading.code}
            </td>
            <td>
                ${reading.temperature}
            </td>
            <td>
                ${reading.windSpeed}
            </td>
            <td>
                ${reading.windDirection}
            </td>
            <td>
                ${reading.pressure}
            </td>
        </tr>
        #{/list}
        </tbody>
    </table>
    <table class="ui fixed table">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
        </thead>
        <tbody>
<!--        #{list items:members, as:'member'}-->
<!--        <tr>-->
<!--            <td>${member.firstname}</td>-->
<!--            <td>${member.lastname}</td>-->
<!--            <td>${member.email}</td>-->
<!--            <td>${member.password}</td>-->
<!--        </tr>-->
<!--        #{/list}-->

        </tbody>
    </table>
</section>
#{editMemberDetails/}
