#{extends 'main.html' /}
#{set title:'Home' /}

#{menu id:"home"/}
<div class="masthead segment bg3">
<div class="ui vertical stripe intro segment">
    <div class="ui stackable very relaxed center aligned grid container">
        <div class="row">
            <div class="twelve wide column">
                <h1 class="ui header">A Weather App for all Weather Info</h1>
                <p>Weather Top app that helps create Weather Stations using responsive layout and user interface.</p>
                <img class="ui fluid image" src="/public/images/weather-image1.jpg">
            </div>
        </div>
    </div>
</div>
</div>



